In [8]:
import pandas as pd
import pandas.io.data as web
import numpy as np

In [5]:
all_data = {}

In [6]:
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker, '1/1/2010', '1/1/2016')

In [9]:
price = pd.DataFrame({tic: data['Adj Close']
                  for tic, data in all_data.iteritems()})

In [11]:
volume = pd.DataFrame({tic: data['Volume']
                  for tic, data in all_data.iteritems()})

In [12]:
returns = price.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2015-12-24 -0.005340 -0.002546 -0.002093 -0.002687
2015-12-28 -0.011201  0.018854 -0.004629  0.005030
2015-12-29  0.017974  0.018478  0.015769  0.010724
2015-12-30 -0.013059 -0.007211 -0.003148 -0.004244
2015-12-31 -0.019195 -0.015720 -0.012344 -0.014740

In [13]:
### The corr method of Series computes the correlation of the overlapping, non-NA-aligned-by-index values in two Series

returns.MSFT.corr(returns.IBM)

0.50802283035751539

In [14]:
### Relatedly cov computes the covariance

returns.MSFT.cov(returns.IBM)

8.903129284351026e-05

In [15]:
### DataFrame's corr and cov methods return a full correlation or covariance matrix as a DataFrame

returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.404986  0.397794  0.379406
GOOG  0.404986  1.000000  0.413273  0.444414
IBM   0.397794  0.413273  1.000000  0.508023
MSFT  0.379406  0.444414  0.508023  1.000000

In [16]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000282  0.000110  0.000080  0.000093
GOOG  0.000110  0.000263  0.000080  0.000105
IBM   0.000080  0.000080  0.000143  0.000089
MSFT  0.000093  0.000105  0.000089  0.000214

In [17]:
### Using DF's corrwith method, you can compute pairwise correlations between a DF's columns or rows with another Series of DF
### Passing a Series returns a Series with the correlation value computed for each column

In [18]:
returns.corrwith(returns.IBM)

AAPL    0.397794
GOOG    0.413273
IBM     1.000000
MSFT    0.508023
dtype: float64

In [19]:
returns.corrwith(volume)

AAPL   -0.082513
GOOG   -0.000130
IBM    -0.202006
MSFT   -0.082924
dtype: float64

In [20]:
### Passing axis = 1 does things row-wise instead. In all the cases, the data points are aligned by label before computing
### the correlation