In [1]:
import pandas as pd

In [2]:
import numpy as np

In [11]:
data = pd.DataFrame({'C1':[1,3,4,3,4],
                    'C2':[1,4,2,4,3],
                    'C3':[3,5,3,1,1]})

In [12]:
data

   C1  C2  C3
0   1   1   3
1   3   4   5
2   4   2   3
3   3   4   1
4   4   3   1

In [13]:
### Now lets compute the histogram. Its quite amazing. Just watch!!!

### Computing histograms on multiple related columns is quite important

result = data.apply(pd.value_counts).fillna(0)

In [14]:
result

    C1   C2   C3
1  1.0  1.0  2.0
2  0.0  1.0  0.0
3  2.0  1.0  2.0
4  2.0  2.0  0.0
5  0.0  0.0  1.0

In [ ]:
### The output shoule be read as follows --

### 1 occurs 1.0 times in C1, 1.0 times in C2 and 2.0 times in C3

In [15]:
### For validation, look at the object "data"
data

   C1  C2  C3
0   1   1   3
1   3   4   5
2   4   2   3
3   3   4   1
4   4   3   1

In [ ]:
### Likewise 5 occurs 0.0 times in both C1 and C2 and 1.0 times in C3

### The values that are missing are replaced by 0 by fillna(0)