In [1]:
import pandas as pd
df = pd.read_csv('http://bit.ly/imdbratings')

In [2]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [3]:
df.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [8]:
df.duration

0      142
1      175
2      200
3      152
4      154
5       96
6      161
7      201
8      195
9      139
10     178
11     148
12     124
13     142
14     179
15     169
16     133
17     207
18     146
19     121
20     136
21     130
22     130
23     106
24     127
25     116
26     175
27     118
28     110
29      87
      ...
949    103
950    108
951    105
952    117
953    102
954    104
955    157
956    104
957     98
958    109
959     96
960    103
961    114
962     99
963    118
964    150
965    105
966     87
967    136
968    162
969    109
970    107
971     90
972    112
973    126
974    116
975    118
976    138
977    114
978    126
Name: duration, Length: 979, dtype: int64

In [5]:
df.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [6]:
df.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000